@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-family: 'Short Stack', cursive;
}

.scroll-styling::-webkit-scrollbar {
  height: 5px; 
  width: 5px;
}

.scroll-styling::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px; 
}

.scroll-styling:hover::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 5px; 
}

.hidden {
  display: none;
}

.hover\:glow:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

/* Для WebKit браузеров (Chrome, Safari) */
/* Скрываем стандартную полосу прокрутки */
::-webkit-scrollbar {
  height: 5px; 
  width: 5px;
}

/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона */
}

/* Стиль ползунка (бегунка) полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px; 
}